* {
  font-family: Roboto, serif;
  margin: 0;
  padding: 0;
}
header,
main,
.footer {
  background-color: #1f2937;
}
ul,
li,
a,
.column > p {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
}
.column > h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.hlogo {
  font-size: 24px;
  color: #f9faf8;
}
.button {
  color: white;
  background-color: #3882f6;
  border-color: #3882f6;
  border-radius: 8px;
}
.cta {
  background-color: #3882f6;
}
.cta :nth-child(1) {
  color: white;
  font-weight: bold;
}
.cta :nth-child(2) {
  color: #e5e7eb;
}
.button.bc {
  border-color: white;
}
.information {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.s2 {
  background-color: #e5e7eb;
}
div.quote > :nth-child(1) {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}
div.quote > :nth-child(2) {
  font-weight: bold;
}
.footer {
  color: #e5e7eb;
}
.placeholder {
  color: #e5e7eb;
}

/* MAIN DECORATION */
.header,
ul {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  padding-top: 12px;
}
main {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
}
.container > .column,
.container > .column2 {
  flex: 1;
  max-width: 680px;
}
.container > .column2 {
  background-color: #6d747d;
  display: flex;
}
.paragraph {
  flex: 1;
  align-self: center;
  text-align: center;
  color: #d6d9de;
}
.button {
  width: 129px;
  height: 35px;
  font-size: 18px;
  margin-top: 10px;
}
